@import url(http://fonts.googleapis.com/css?family=Quicksand);

/* Global stuff */
html {
	font-family: 'Quicksand', sans-serif;
}

body {
	margin: 0;
	background-color: #F0F0E6;
}

header > *, main > *, footer > * {
	max-width: 100em;
	width: 80%;
	margin: auto;
}

/* Navigation Bar */
.navigation {
	display: flex;
}
	.navigation > * {
		width: 10em;
	}
	.navigation .dropdown > a, .navigation > a {
		display: block;
		text-align: center;
	}
	.navigation .dropdown:hover, .navigation > a:hover {
		background-color: white;
		color: black;
	}
	.navigation .divider {
		border-left: 1px solid darkgrey;
	}

/* Dropdown menus */
.dropdown:hover > .menu {
	display: flex;
}

.dropdown:hover {
	background-color: white;
	color: black;
}
.dropdown:hover a {
	color: black;
}

.menu {
	position: absolute;
	display: none;
	background-color: white;
}
	.menu h6 {
		margin: 0.3em 0 0.3em 0.5em;
	}
	.menu a {
		display: block;
		padding: 0.5em;
	}
	.menu a, .menu a:link, .menu a:visited {
		color: black;
	}
	.menu a:hover {
		text-decoration: underline;
	}

/* Header */
header {
	padding-top: 1em;
	background-color: #1D295D;
}
	header a:link, header a:visited {
		color: white;
		text-decoration: none;
	}
	header a:hover {
		color: orange;
	}

/* Top Header */
.header-top {
	padding-bottom: 0.5em;
	font-size: 0.8em;
	
	display:flex;
}
	.header-top .top-nav {
		flex: 1;
		display: flex;
		justify-content: space-between;
	}

.logo {
	width: 16em;
	height: auto;
	vertical-align: text-top
}

.secondary-nav {
	display: inline-flex;
}

.quicklinks {
	float: right;
	display: flex;
}
	.quicklinks a {
		margin-right: 1em;
	}

/* Bottom Header */
.header-bottom {
	display: flex;
	justify-content: center;
}

	/*
.topic-nav {
	display: flex;
	min-width: 20em;
	font-size: 1.2em;
}

.topic {
	
}
	.topic > a {
		display: block;
		padding: 0.5em 1.5em 0.5em 0.5em;
	}
	.topic:hover a:hover {
		color: black;
		text-decoration: underline;
	}
	.topic:hover > .menu {
		display: flex;
	}
	.topic:hover a {
		background-color: white;
		color: black;
	}

.menu {
	position: absolute;
	display: none;
	background-color: white;
}
	.menu h6 {
		margin: 0.3em 0 0.3em 0.5em;
	}
	.menu section {
		margin: 1em 0 1em 0;
		padding: 0 1em 0 1em;
	}
	.menu section:first-child + section {
		border-left: 1px solid black;
	}
	.menu a {
		display: block;
		padding: 0.5em;
	}
	.menu a:link, .menu a:visited {
		color: black;
	}

.user-nav {
	padding-top: 0.8em;
	font-size: 1em;
}
	.user-nav a {
		margin-left: 1em;
		text-align: right;
	}

*/

/* Footer */
footer {
	background-color: #333333;
	color: white;
	overflow: auto;
}
	footer a:link, footer a:visited {
		color: white;
		text-decoration: none;
	}
	footer a:hover {
		color: orange;
	}

.index {
	display: flex;
	justify-content: space-around;
}
	.index-group {
		flex: 1 0 auto;
	}
	.index-group h2 {
		margin: 0.3em 0 0.3em 0;
	}
