@import url(http://fonts.googleapis.com/css?family=Quicksand);

html {
	font-family: 'Quicksand', sans-serif;
}

body {
	margin: 0;
}

header {
	background-color: #1D295D;
}

.header-logo nav {
	display: flex;
	justify-content: space-between;
}

.header-nav {
	
}
	.header-nav a:link, .header-nav a:visited {
		color: white;
		text-decoration: none;
	}
	.header-nav a:hover {
		color: orange;
	}

main > *, header > * > *, footer > * {
	max-width: 100em;
	margin: auto;
	width: 100%;
}

.carousel img {
	width: 100%;
	height: auto;
}

.news-events {
	display: flex;
	background-color: gainsboro;
}
	.news-events .news {
		flex: 8 1 auto;
	}
	.news-events .events {
		flex: 0 1 15em;
	}
	.news-events .news-events-header {
		margin: 0;
		font-size: 1.8em;
	}

.news {
	display: flex;
}
	.news .news-highlights {
		flex: 2 1 auto;
	}
	.news .news-more {
		flex: 0 1 15m;
	}

.news-stories {
	display: flex;
	justify-content: space-between;
}
	.news-stories .news-story {
		width: 10em;
	}
		.news-story img {
			width: 100%;
		}
		.news-story h2 {
			font-size: 1em;
		}

.news-more ul {
	margin: 0;
	padding-left: 0.5em;
	list-style-type: none;
}
	.news-more ul li:before {
		content: "> ";
	}

.events {
	background-color: grey;
}

footer {
	background-color: #333333;
	color: white;
	overflow: auto;
}
	footer a:link, footer a:visited {
		color: white;
		text-decoration: none;
	}
	footer a:hover {
		color: orange;
	}